.dashboard {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dashboard-content {
    flex: 1;
    background-color: white;
    width: calc(100% - 270px);
}

.dashboard-sidebar{
    width: 270px;
    flex: 0 0 auto;
}

.dashboard-inner-sidebar{
    position:fixed;
}