.home {
	padding: 5px 20px;
	min-height: 100%;
	width: 100%;
}
table, th, td {
	border-collapse: collapse;
}

th, td {
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 40px;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.history-row {
	display: flex;
	flex-direction: row;
	width: max-content;
}

.monitor-legends{
	display: flex;
	flex-direction: row;
}

.monitor-legends-item{
	display:flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 20px;
}

.monitor-legends-item:first-child{
	margin-left: 0px;
}

.monitor-list-table{
	width: 100%;
	table-layout: fixed;
	font-size: 12px;
}

.monitor-list-table th{
	text-align: left;
	font-size: 14px;
}

.monitor-list-table th,.monitor-list-table td {
	padding: 15px 10px;
}

.title {
	font-size: 24px;
	font-weight: 700;
}

.api-monitor-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.spinner-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.monitor-legends-text {
	font-size: 13px;
}